# This is an example .env file. Copy this file to .env and fill in the values.
# DO NOT COMMIT YOUR .env FILE TO GIT

#api !!! USE ONLY IN ./api !!! NEVER ADD VITE_ PREFIX TO THESE VARIABLES
STEAM_API_KEY=your_api_key
MONGODB_URI=mongodb+srv://teabox_admin:<password>@app.1jhbf.mongodb.net/?retryWrites=true&w=majority&appName=TEABOX_DB
PORT=8081
NODE_ENV=development

#web - remember to add to type in vite-env.d.ts ( must be prefixed with VITE_ )
VIE_SERVER_URL=https://localhost:8081 
