.header {
  position: sticky;
  top: 0;
  z-index: 999999;
  background-color: var(--color-bg);
  box-shadow: var(--shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 38px;
  height: 65px;
  letter-spacing: 0.8px;
}

.header-left {
  display: flex;
  align-items: flex-end;
  user-select: none;
}

.header-title {
  font-size: var(--f-xlarge);
  font-weight: bold;
  line-height: 1.1;
}

.header-right {
  display: flex;
  gap: 28px;
  font-weight: 700;
  align-items: center;
}

.header-right a {
  display: flex;
  text-decoration: none;
  color: var(--color-primary);
  font-size: var(--f-medium);
  transition: color 0.3s;
  align-items: center;
}

.header button {
  background-color: transparent;
  border: none;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.burger{
  height: 100%;
  margin-left: 3px;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s ease;
  opacity: 1;
}

.menu-hiden {
  transform: rotate(180deg);
}

.header-right a:hover
 {
  color: var(--color-text);
}
