.sidebar {
  width: 240px;
  height: calc(100vh - 60px);
  right: 0;
  top: 60px;
  bottom: 0;
  padding: 40px 17.5px;
  overflow-y: auto;
  position: fixed;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  box-shadow: var(--shadow);
  font-family: var(--font-archivo);
  background-color: var(--color-bg);
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateX(0);
  opacity: 1;
  z-index: 1000;
}


.sidebar.hide {
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.swapy-slot {
  padding-top: 16.2px;
}

.swapy-item {
  width: 158px;
  padding: 12px 15px;
  text-align: center;
  font-size: var(--f-medium);
  font-weight: bold;
  cursor: grab;
  user-select: none;
  background-color: var(--color-primary);
  color: var(--color-bg);
  text-transform: uppercase;
}

.sidebar h3 {
  font-size: var(--f-large);
  margin-bottom: 15px;
  color: var(--color-primary);
  line-height: 1.1;
}

.sidebar p {
  font-size: var(--f-large);
}

.swapy-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 54px;
}

.priority-arrow {
  height: 100px;
}

.bottom-text {
  margin-top: auto;
}