.sidebar {
  width: 215px;
  margin-top: 35px;
  padding: 35px 22px;
  overflow-y: auto;
  position: fixed;
  top: 30px;
  right: 0;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.7);
  font-family: var(--font-archivo);
}

.swapy-slot {
  padding-top: 16.2px;
}

.swapy-item {
  width: 138px;
  margin-left: 18px;
  padding: 10px 15px;
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
  cursor: grab;
  user-select: none;
  background-color: var(--color-primary);
  color: var(--color-bg);
  text-transform: uppercase;
}

.sidebar h3 {
  font-size: 17px;
  margin-bottom: 15px;
  margin-left: 6px;
  color: var(--color-primary);
  line-height: 1.1;
}