.sidebar {
  width: 215px;
  height: calc(100vh - 60px);
  right: 0;
  top: 60px;
  bottom: 0;
  padding: 40px 17.5px;
  overflow-y: auto;
  position: fixed;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  box-shadow: var(--shadow);
  font-family: var(--font-archivo);
  background-color: var(--color-bg);
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateX(0);
  opacity: 1;
  z-index: 1000;
}

.sidebar.hide {
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.swapy-slot {
  padding-top: 16.2px;
}

.swapy-item {
  width: 138px;
  padding: 12px 15px;
  text-align: center;
  font-size: var(--f-small);
  font-weight: bold;
  cursor: grab;
  user-select: none;
  background-color: var(--color-primary);
  color: var(--color-bg);
  text-transform: uppercase;
}

.sidebar h3 {
  font-size: var(--f-medium);
  margin-bottom: 15px;
  color: var(--color-primary);
  line-height: 1.1;
}

.swapy-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 54px;
}

/* Strzałka nie wpływa na layout */
.priority-arrow {
  position: absolute;
  left: -17px;
  top: 12px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  pointer-events: none;
}

.priority-arrow span{
  color: var(--color-text);
  font-family: var(--font-archivo);
  font-size: var(--f-medium);
}

.priority-arrow .top,
.priority-arrow .bottom {
  writing-mode: sideways-lr;
  text-orientation: sideways-right;
}

.priority-arrow-svg {
  color: var(--color-primary) !important;
  height: 100%;
  display: block;
}



